<%- include("header") -%>
    <div class="box" id="heading">
      <h1><%=listoftitle%></h1>
    </div>
<div class="box">
  <%for(var i=0; i<listitems.length; i++){ %>
  <div class="item">
    <input type="checkbox">
    <p><%=listitems[i]%></p>

  </div>
  <%}%>
  <form class="item" action="/" method="post">
    <input type="text" name="item"  placeholder="new item">
    <button type="submit" name="list" value=<%= listoftitle %>>+</button>
  </form>
  <form class="item" action="/remove" method="post">
    <button type="submit" name="button">-</button>

  </form>
</div>

<%- include("footer") -%>
